<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Fanggaozhiai.mapper.ShopMapper">

    <update id="update">
        UPDATE merchant
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="person != null">
                person = #{person},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>