<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Fanggaozhiai.mapper.UserMapper">

    <!--
        动态更新用户信息
        根据传入的 UserPut 对象中非空字段，选择性更新用户名、手机号、密码、收货地址
        WHERE 条件：根据 id 定位要修改的用户
    -->
    <update id="update">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--
        分页模糊查询用户列表
        支持按用户名进行模糊匹配，按注册时间降序排列（新用户在前）
        与 PageHelper 分页插件配合使用，实现物理分页
    -->
    <select id="list" resultType="com.Fanggaozhiai.entity.User">
        select * from user
        <where>
            <if test="username != null">
                username like concat('%',#{username},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>